* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 18px 35px;
    border: 0;
}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 51px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
}

.nav-title {
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}

/* banner area styles */
.banner {
    display: flex;
    margin: 51px 200px;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin: 12px 0px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 20px;
}